[Interface]
PrivateKey = {{ wg_private_key.stdout }} 
Address = {{ client_ip_address }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ vpn_server_endpoint }}:{{ vpn_server_port}}
AllowedIPs = {{ allowed_ips }}
PersistentKeepalive = {{ keepalive }}